table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    padding: 10px;
    border: 1px solid var(--light-gray);
}

table th {
    text-align: left;
    background-color: var(--teal);
    color: var(--white);
}

table td {
    background-color: var(--white);
}

.button_link {
    display: inline-block;
    margin: 10px 0;
    padding: 10px 15px;
    background-color: var(--navy-blue);
    color: var(--white);
    text-decoration: none;
    border-radius: 4px;
}

.button_link:hover {
    background-color: var(--sky-blue);
}