/* Color Palette */
:root {
    --navy-blue: #003366;
    --white: #FFFFFF;
    --teal: #008080;
    --light-gray: #D3D3D3;
    --orange: #FFA500;
    --sky-blue: #87CEEB;
    --dark-gray: #333333;
    --intense-orange: #f44336;
    --highlight-orange: #e53935;
    --swamp-green: #005555;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--light-gray);
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items to the start to allow scrolling */
    overflow-y: auto; /* Enable vertical scrolling */
    height: 100vh;
    margin: 0;
}

.container {
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%; /* Make container full width */
    margin-top: 20px; /* Add some space at the top */
}
body > .container {
    margin: 20px auto; /* Center container horizontally with auto margins */
}

.container h2 {
    color: var(--navy-blue);
    text-align: center;
    margin-bottom: 20px;
}

.container h3 {
    color: var(--navy-blue);
    margin-bottom: 20px;
}

.container label {
    display: block;
    margin-bottom: 5px;
    color: var(--dark-gray);
}

.container input[type="text"], .container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--light-gray);
    border-radius: 4px;
    box-sizing: border-box;
}

.container-button-blue {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: var(--teal);
    border: none;
    border-radius: 4px;
    color: var(--white);
    font-size: 16px;
    cursor: pointer;
}

.container-button-blue:hover {
    background-color: var(--sky-blue);
}

.container-button-red {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: var(--intense-orange);
    border: none;
    border-radius: 4px;
    color: var(--white);
    font-size: 16px;
    cursor: pointer;
}

.container-button-red:hover {
    background-color: var(--highlight-orange);
}

.card {
    background-color: var(--white);
    border: 1px solid var(--light-gray);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
    transition: max-height 0.3s ease;
    cursor: pointer;
    width: 100%;
    max-width: 500px;
}

.card-header {
    padding: 15px;
    background-color: var(--teal);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-title {
    margin: 0;
}

.card-date {
    margin: 0;
    font-size: 0.9em;
}

.card-body {
    padding: 15px;
    display: none;
}

.card.expanded .card-body {
    display: block;
}

.card.expanded {
    max-height: 500px;
}
