{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataFleet|CCOS {{inspection.number}} Detail</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/additional_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/popup_style.css' %}">
    
    <style>
        .container{
            max-width: 900px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>CCOS <i>{{inspection.number}}</i> Detail</h2>
        <table>
            <tr>
                <th>Project Name:</th>
                <td><a href="#">{{ inspection.project.name }} </a></td>
            </tr>

            <tr>
                <th>Creation Date:</th>
                <td>{{ inspection.creation_date }}</td>
            </tr>

            <tr>
                <th>Yard:</th>
                <td>{{ inspection.yard }}</td>
            </tr>
            <tr>
                <th>Class:</th>
                <td>{{ inspection.u_class }}</td>
            </tr>
            <tr>
                <th>Owner:</th>
                <td>{{ inspection.owner }}</td>
            </tr>

            <tr>
                <th>Discipline:</th>
                <td>{{ inspection.discipline }}</td>
            </tr>

            <tr>
                <th>Elements:</th>
                <td>
                    {%if not added_elements%}
                    <i style="color: red;">There are no elements on this project</i>
                    {%else%}
                    {% for element in added_elements%}
                        <a href="{%url 'element_page' element.id%}" style="color: #008080;">{{element.marking}}</a>
                    {%endfor%}
                    {%endif%}
                </td>
            </tr>
        </table>
        <button class="container-button-blue" style="width: 30%;" id="openPopup">Inspect new element</button>
        <hr>
        <a class="button_link" href="{% url 'new_ccos_page' %}">Instantiate New Inspection</a>
        <a class="button_link" href="{% url 'ccos_list_page' %}">Back to Inspection List</a>
    </div>

    <div id="popup" class="popup">
        <div class="popup-content">
            <span id="closePopup" class="close">&times;</span>
            <div class="popup-header">
                <h3>Available Elements</h3>
            </div>
            <div class="popup-body">
                <ul>
                    {%for element in available_elements%}
                        <li style="margin-top: 10px; margin-bottom: 10px;"><a href="{%url 'add_element_api' inspection.id element.id%}">{{element.marking}}</a></li>
                    {%endfor%}
                </ul>
            </div>
        </div>
    </div>
</body>
</html>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var openPopupButton = document.getElementById('openPopup');
        var popup = document.getElementById('popup');
        var closePopupButton = document.getElementById('closePopup');

        openPopupButton.addEventListener('click', function () {
            popup.style.display = 'flex';
        });

        closePopupButton.addEventListener('click', function () {
            popup.style.display = 'none';
        });

        window.addEventListener('click', function (event) {
            if (event.target === popup) {
                popup.style.display = 'none';
            }
        });
    });

</script>
